/* Remote Lecture */
/* Copyright (C) 2021  Hugo Raguet */
/* SPDX-License-Identifier: GPL-3.0-or-later */

#slide {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.toast{
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 300px;
    text-align: center;
    font-family: sans-serif;
    background-color: #067EED;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, top .2s, visibility .2s;
}

.toast--visible{
    top: 60px;
    opacity: 1;
    visibility: visible;
}
.toast--success{
    background-color: #00C02B;
    border-color: #009D23;
    color: #fff;
}