<meta charset="UTF-8">

<title><!-- title --></title>



<!-- shutdown favicon request  -->
<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<!-- Font Awsome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">



<link rel="stylesheet" type="text/css" href="common/remote-lecture.css">

<script src='/socket.io/socket.io.js'></script>

