/* Remote Lecture */
/* Copyright (C) 2021  Hugo Raguet */
/* SPDX-License-Identifier: GPL-3.0-or-later */

html, body, svg {
    margin: 0;
    padding: 0;
}

body {
    color: #000000;
    background-color: #ffffff;
}

button {
    margin-top: 1vw;
    margin-left: 1vw;
    float: left;
    font-size: 1.3rem;
    position: relative;
    z-index: 1;
    border: 1px aliceblue;
    border-radius: 10px;
    padding: 4px 8px;
    color: #EEE;
    background: #067EED;
    cursor: pointer;
}
button:hover{
    color: #067EED;
    background-color: #ffffff;
    border: 1px solid #067EED;
    transition: all .5s ease;
    font-size: 1.4rem;

}
.container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: sans-serif;
    z-index: 0;
}

#message {
    position: absolute;
    margin-top: 1vw;
    right: 1vw;
    z-index: 1;
    font-family: sans-serif;
    color: #808080;
    white-space: pre-wrap;
}


button#toggle-backgroundcolor {
    position: absolute;
    bottom: 2%;
    right: 3%;
    z-index: 10;
    font-size: 0.8rem;
}

.changeBody{
    background-color: #000000;
    color: white;
}
.changeBtn{
    color: #000000;
    background-color: white;
    border: solid 1px #067EED;
}